<div class="content">
	<div class="row centro">
	<div class=" col s12 m10 push-m2 l4 push-l4 card grey lighten-5">
		<h3 class="center-align blue accent-4 white-text">Inicio sesión</h3>
		<form>
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">account_circle</i>
					<input type="email" id="user" required class="validate" required>
					<label for="user" data-error="correo invalido">Usuario</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
			    	<i class="material-icons prefix">lock_open</i>
					<input type="password" id="Password" required>
					<label for="Password">Password</label>
				</div>
			</div>
			<div class="row">
				<button class="col s12 waves-effect waves-light btn-large blue accent-4">Iniciar Sesión</button>
			</div>
		</form>
	</div>
</div>
</div>
