@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
*{
  font-family: 'Josefin Sans', sans-serif;
}
$blanco:#f5f5f5;
$azul:#2962ff;
$gris:#424242;
$warning:#ffd600;
$danger:#d50000;
$success:#00c853;

/* label color */
.input-field label {
  color: #000 !important;
  font-size: 1.1rem !important;
}
.input-field input,
.input-field textarea{
  font-size: 1.3rem !important;
}
/* label focus color */
.input-field input:focus + label {
  color: $azul !important;
  font-size: 1.2rem;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid $azul !important;
  box-shadow: 0 1px 0 0 $azul !important;
}

[type="checkbox"]:checked + label:before{
  border-right: 3px solid $azul;
  border-bottom: 3px solid $azul;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 ;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $azul !important;
}
.btn-large[disabled]{
  background-color: #448aff !important;
  color:#e0e0e0 !important;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
  background-color: $azul;
  
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
  border: 2px solid $azul;
}
.content{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #37474f  , #263238);
  .centro{
    width:100%;
    padding:0 1em;
  }
}
.col h3{
  margin-top:0;
  margin-bottom: 30px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding: 1em 0;
}
.main-view-full{
  left:69px !important;
  transition:all 0.3s linear;
}
.main-view{
  transition:all 0.3s linear;
  z-index: 1;
  position:absolute;
  right:0;
  top:64px;
  height:auto;
  left:300px;
}
.top-nav-hidden{
  left:69px !important;
  transition:all 0.3s linear;
  width:auto;
}
.top-nav{
  position:fixed;
  top:0;
  left:300px;
  right:0!important;
  width:auto;
  transition:all 0.3s linear;
  z-index: 2;
  .dropdown-content{
    margin-top: 64px;
    z-index: 2;
    li a{
      color:$azul;
    }
  }
}
.side-nav{
  width:100%;
  position:relative;
  height: auto;
  background: none;
  transform: translateX(0)!important;
  padding:0;
  ul{
    margin:0;
    li{ 
      a{
        padding:0;
        color:$blanco;
        font-size: 1.2rem;
      }
      i.material-icons{
        width:59px;
        text-align: center;
        color:$blanco;
        margin-right: 10px;
      }
    }
  }
}
@media only screen and (min-device-width : 600px) and (max-device-width : 990px){
  .sidenav{
    width:300px !important;
  }
  .top-nav{
    left:300px;
  }
  .main-view-full{
    left:59px;
  }
  .main-view{
    transition:all 0.3s linear;
    z-index: 1;
    position:absolute;
    right:0;
    top:64px;
    height:auto;
    left:300px;
  }
}
.dropdown-content li > span{
  color:$azul;
}
@media only screen and (max-device-width : 601px){
  .sidenav-hidden{
    width:0!important;
    transform:translateX(-69px);
  }
  .sidenav{
     width:100% !important; 
     z-index: 2 !important;
  }
  .top-nav-hidden{
    left:0!important;
  }
  .top-nav{
    left:0;
  }
  .main-view-full{
    left:0px!important;
  }
  .main-view{
    transition:all 0.3s linear;
    position:absolute;
    right:0;
    top:56px;
    height:auto;
    left:0;
    .titulo-pagina{
      top:0;
    }
  }
}
.sidenav-hidden{
  width:69px !important;
  transition:all 0.3s linear;
}
.perfil-hidden{
  display:none !important;;
}
.activate a{
  position:relative;
  i{
    color:$azul!important;
  }
  color:$azul !important;
  :before{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:4px;
    content:'';
    background-color: $azul;
  }
}
#app-container .btn-floating{
    position:fixed;
    z-index: 100;
  }
.sidenav{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:300px;
  transition:all 0.3s linear;
  overflow-y:scroll;
  overflow-x:hidden;
  z-index: 1;
  &::-webkit-scrollbar {
        width: 10px;
        }  
    &::-webkit-scrollbar-track {
      box-shadow: #000000;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #263238;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $azul;
    }
  
  .scroll{
    position:relative;
    top:56px;
    
  }
  h3{
    color:$azul;
  }
  .perfil{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    background-image: url("../images/fondo-perfil.jpg");
    background-size: cover;
    img{
      border-radius: 50%;
    }
    .profile-btn{
      margin: 0;
      text-transform: capitalize;
      padding: 0;
      text-shadow: 1px 1px 1px #444;
      font-size: 13px;
      i{
        font-size: 30px;
      }
    }
    .dropdown-content{
      margin-top: 35px;
      z-index: 2;
      li a{
        color:$azul;
      }
    }
  }
  .side-nav{
    z-index: 1;
    >ul>li>a{
      overflow: hidden;
    }
  }
}
.titulo-pagina{
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 3;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 15px 10px 15px 0;
  color: $blanco;
  font-size: 2rem;
  transform:scaleX(0);
  transition:all .3s;
  transition-delay:.2s;
}
.pageAnimate{
  transform:scaleX(1);
}

.contenido{
  position:relative;
  top:72px;
  >.row{
    margin-bottom: 0;
    
  }
  >.row:first-child .card-panel{
    z-index: 2;
  }
  >.row:nth-child(2) .card-panel{
    z-index: 1;
  }
}
.card-panel{
  position:relative;
  padding:0;
  transform:scaleX(0);
  transition:all .3s;
  transition-delay:.2s;
  .panel-heading{
    position:relative;
    top:0;
    left:0;
    right:0;
    h3{
      margin:0;
      color: $blanco;
      font-size: 1.3rem;
      padding-left: .8rem;
    }
  }
  .panel-body{
    padding-top:10px;
    padding-bottom: 10px;
    .row:last-child{
      margin-bottom: 0;
    }
  .btn{
    cursor:pointer;
  }
  }
}
.panelAnimate{
  transform:scaleX(1);
}
.btn-tabla{
  padding:0 10px;
  text-transform: capitalize;
  margin-right: 5px;
  
}
.btn-primary{
  background: $azul;
  &:hover{
    background:darken( $azul, 5% );
  }
}
.btn-success{
  background: $success;
  &:hover{
    background:darken( $success, 5% );
  }
}
.btn-warning{
  background: $warning;
  &:hover{
   background:darken( $warning, 5% );
  }
}
.btn-danger{
  background: $danger;
  &:hover{
    background:darken( $danger, 5% );
  }
}
.cropArea {
  background: #eceff1;
  overflow: hidden;
  width:100%;
  height:400px;
  }
.modal-overlay{
  display:none!important;
}
.modal{
  top:100px !important;
  .modal-content{
    .modal-title{
      position:fixed;
      top:0;
      left:0;
      right:0;
      padding:1rem 10px;
      color:white;
      background-color: $azul;
      z-index: 200;
    }
    .row{
      margin-top: 3rem;
      z-index: 100;
    }
  }
}
.modal-overlay{
  z-index: 1002 !important;
}
.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: $azul;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 2px 5px;
}
.ancla{
  font-size: 1.3rem;
  &:hover{
    text-decoration: underline;
  }
  cursor:pointer;
}
.cursor{
  cursor:pointer;
}
table.bordered > thead > tr{
  border-bottom: 2px solid $azul;
}
.danger-text{
  color:$danger;
}
.warning-text{
  color: $warning;
}
.confirm{
  background-color: $azul !important;
}
preloader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:transparentize(#212121, 0.3);
  z-index: 100;
  .preloader-wrapper{
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}


