@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
*{
  font-family: 'Josefin Sans', sans-serif;
}
$azul:#2962ff;
$gris:#424242;
/* label color */
.input-field label {
  color: #000 !important;
  font-size: 18px !important;
}
.input-field input{
  font-size: 20px !important;
}
/* label focus color */
.input-field input:focus + label {
  color: $azul !important;
  font-size: 20px;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $azul !important;
  box-shadow: 0 1px 0 0 $azul !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 ;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $azul !important;
}
.btn-large[disabled]{
  background-color: #448aff !important;
  color:#e0e0e0 !important;
}
.content{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #1A2980 , #26D0CE);
  .centro{
    width:100%;
    padding:0 1em;
  }
}
.col h3{
  margin-top:0;
  margin-bottom: 30px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding: 1em 0;
}
.main-view{
  position:absolute;
  right:0;
  top:64px;
  bottom:0;
  left:20%;

}
.top-nav{
  position:fixed;
  top:0;
  right:0;
  width:80%;
  
}.side-nav{
  position:relative;
  height: auto;
  background: none;
  transform: translateX(0)!important;
}
.sidenav{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:20%;
  
  h3{
    color:$azul;
  }
}