<pageheader pagename="Gestion de Clientes" class="titulo-pagina {{pageAnimate}}"></pageheader>
<div class="conter-wrapper">
	<div class="row">
		<div class="col s12">
			<div class="panel panel-default {{panelAnimate}}">
				<div class="panel-heading">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formClientes" novalidate ng-submit="EnviarCliente()">
						<div class="row">
						<div class="input-field col s6">
							<label for="NIT">NIT *</label>
							<input type="text" ng-model="Cliente.id" name="NIT" class="form-control color-negro" id="NIT"  required ng-disabled="panel_title_form == 'Editar Cliente'">
						</div>
						<div class="input-field col s6">
							<label for="Nombre">Nombre *</label>
							<input type="text" ng-model="Cliente.nombre" class="form-control color-negro" id="Nombre" name="Nombre" required>
						</div>
						</div>
						<div class="row">
						<div class="input-field col s6">
							<label for="Direccion">Direccion *</label>
							<input type="text" ng-model="Cliente.direccion" class="form-control color-negro" id="Direccion" name="Direccion" required>
						</div>
						<div class="input-field col s6">
							<label for="Telefono">Telefono *</label>
							<input type="number" ng-model="Cliente.telefono" class="form-control color-negro" id="Telefono" name="Telefono" required>
						</div>
						</div>
						<div class="row">
						<div class="input-field col s6" ng-hide="panel_title_form == 'Editar Cliente'">
							<label for="Candados">Candados *</label>
							<input type="number" ng-model="Cliente.limite_candados" class="form-control color-negro" id="Candados" name="Candados" required>
						</div>
						<div class="input-field col s6" ng-hide="panel_title_form == 'Editar Cliente'">
							<label for="Llaves">Llaves *</label>
							<input type="number" ng-model="Cliente.limite_llaves" class="form-control color-negro" id="Llaves" name="Llaves" required>
						</div>
						</div>

						<button type="submit" class="btn btn-primary" ng-disabled="formClientes.$invalid">{{button_title_form}}</button>
						<button type="button" class="btn btn-danger" ng-show="panel_title_form == 'Editar Cliente'" ng-click="CancelarEditar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="panel panel-default {{panelAnimate}}">
				<div class="panel-heading">
					<h3 class="panel-title">Lista de Clientes</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>