 <h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de Empleados</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formEmpleados" novalidate ng-submit="EnviarEmpleado()">
						<div class="row">
							<div class="file-field input-field col s12 m12 l6">
								<div class="btn blue accent-4 waves-effect waves-light">
							        <span><i class="material-icons">file_upload</i></span>
							        <input type="file" accept="image/*" id="fileInput">
								</div>
								<div class="file-path-wrapper">
							        <input class="file-path" class="input-value" type="text" id="inputval" readonly>
							    </div>								
								<div class="cropArea img-responsive">
							    	<ui-cropper image="myImage" result-image="myCroppedImage" on-load-done="cambiar(1)" on-change="cambiar(2)" class="responsive-img" result-image-size="{w: 200, h: 200}" area-min-size="{w:200, h: 200}"></ui-cropper>
								</div>	
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="documento">Documento*</label>
								<input type="text" ng-model="Empleado.documento" name="documento" id="documento"  required ng-disabled="panel_title_form == 'Editar Empleado'">
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Nombre">Nombre *</label>
								<input type="text" ng-model="Empleado.nombre" id="Nombre" name="Nombre" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="apellidos">Apellidos *</label>
								<input type="text" ng-model="Empleado.apellidos" id="apellidos" name="apellidos" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Direccion">Direccion</label>
								<input type="text" ng-model="Empleado.direccion" id="Direccion" name="Direccion">
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Telefono">Telefono</label>
								<input type="number" ng-change="validarNumero()" ng-model="Empleado.telefono" id="Telefono" name="Telefono">
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Correo">Correo *</label>
								<input type="email" ng-model="Empleado.correo" id="Correo" name="Correo" required>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Cargo">Cargo *</label>
								<input type="text" ng-model="Empleado.cargo" id="Cargo" name="Cargo" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<select ng-model="Empleado.rol" required material-select watch>
									<option value="super_administrador">Super Administrador</option>
	      							<option value="contador">Contador</option>
	      							<option value="almacenista">Almacenista</option>
	      							<option value="empleado">Empleado</option>
								</select>
								<label>Rol *</label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formEmpleados.$invalid" >{{button_title_form}}</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-large btn-danger" ng-click="CancelarEditar()">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Empleados</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalDetalles" class="modal modal-fixed-footer">
    <div class="modal-content">
    <h4 class="modal-title">{{Detalle.nombre}} {{Detalle.apellidos}}</h4>
    	<div class="row">
    	<div class="col s12 m6 l6">
    		<img class="img-empleado" src="{{server}}/imagen/{{Detalle._id}}" alt="">
    	</div>
		<ul class="col s12 m6 l6">
			<li> Documento: {{Detalle.documento || 'No registra'}} </li>
			<li> Nombre: {{Detalle.nombre || 'No registra'}} </li>
			<li> Apellidos: {{Detalle.apellidos || 'No registra'}} </li>
			<li> Direccion: {{Detalle.direccion || 'No registra'}} </li>
			<li> Telefono: {{Detalle.telefono || 'No registra'}} </li>
			<li> Correo: {{Detalle.correo || 'No registra'}} </li>
			<li> Cargo: {{Detalle.cargo || 'No registra'}} </li>
			<li> Rol: {{Detalle.rol || 'No registra'}} </li>
		</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>