<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Registro de Empleados</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formEmpleados" novalidate ng-submit="EnviarEmpleado()">
						<div class="row">
						<div class="input-field col s12 m6 l6">
							<label for="documento">Documento*</label>
							<input type="text" ng-model="Empleado.id" name="documento" id="documento"  required ng-disabled="panel_title_form == 'Editar Empleado'">
						</div>
						<div class="input-field col s12 m6 l6">
							<label for="Nombre">Nombre *</label>
							<input type="text" ng-model="Empleado.nombre" id="Nombre" name="Nombre" required>
						</div>
						</div>
						<div class="row">
						<div class="input-field col s12 m6 l6">
							<label for="Direccion">Direccion *</label>
							<input type="text" ng-model="Empleado.direccion" id="Direccion" name="Direccion" required>
						</div>
						<div class="input-field col s12 m6 l6">
							<label for="Telefono">Telefono *</label>
							<input type="number" ng-model="Empleado.telefono" id="Telefono" name="Telefono" required>
						</div>
						</div>
						<div class="row">
						<div class="input-field col s12 m6 l6" ng-hide="panel_title_form == 'Editar Empleado'">
							<label for="Correo">Correo *</label>
							<input type="email" ng-model="Empleado.Correo" id="Correo" name="Correo" required>
						</div>
						<div class="input-field col s12 m6 l6" ng-hide="panel_title_form == 'Editar Empleado'">
							<label for="Llaves">Cargo *</label>
							<input type="number" ng-model="Empleado.fax" id="Llaves" name="Llaves" required>
						</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Empleado.rol">
	      							<option value="1">Option 1</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l4">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formEmpleados.$invalid">{{button_title_form}}</button>
							</div>
							
						</div>
						<button type="button" class="btn" ng-show="panel_title_form == 'Editar Empleado'" ng-click="CancelarEditar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Empleados</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>