<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de fabricaciones</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formfabricacion" ng-submit="EnviarFabricacion()">
						<div class="row">
							<p>
								<input name="tipo" type="radio" ng-model="check" id="venta" value="orden"/>
								<label for="venta">Orden de venta</label>
								<input name="tipo" type="radio" ng-model="check" id="stock" value="stock" />
								<label for="stock">Stock</label>
						    </p>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6" ng-show="check=='orden'">
								<label>Orden de venta *</label>
								<select ng-change="CargarOrden()" id="orden" ng-model="Orden" material-select watch>
	      							<option ng-repeat="orden in Ordenes" value="{{orden._id}}">{{orden.consecutivo}}-{{orden.cliente.nombre}}</option>
								</select>
							</div>
							<div class="input-field col s12 m6 l6" ng-show="check=='orden'">
								<input type="number" ng-disabled="true" ng-model="fabricacion.orden_venta.cliente.nombre" id="consecutivo" name="consecutivo" ng-required="check.orden">
								<label for="consecutivo">Cliente *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label>Fecha de solicitud *</label>
								<input type="date" ng-model="fabricacion.fecha_solicitud" class="datepicker" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="consecutivo">Fecha de entrega *</label>
								<input type="date" ng-model="fabricacion.fecha_entrega" class="datepicker" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="producto._id" material-select watch>
	      							<option ng-repeat="producto in Productos" value="{{producto._id}},{{producto.nombre}}">{{producto.nombre}}</option>
								</select>
								<label>Productos *</label>
							</div>
							<div class="input-field col s8 m4 l4">
								<input type="number" ng-model="producto.cantidad" id="Cantidad" name="Cantidad">
								<label for="Cantidad">Cantidad *</label>
							</div>
							<button type="button" class="btn btn-success col s4 m2 l2" ng-disabled="!(producto._id) || !(producto.cantidad)" ng-click="AgregarInsumo()">Añadir</button>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
							<table class="highlight" ng-hide="fabricacion.productos.length<1">
						        <thead>
						        	<tr>
										<th data-field="producto">Producto</th>
										<th data-field="cantidad">Cantidad</th>
										<th data-field="opcion">Opción</th>
						          	</tr>
						        </thead>
						        <tbody>
						          	<tr ng-repeat="producto in fabricacion.productos">
							            <td>{{producto.nombre}}</td>
							            <td>{{producto.cantidad}}</td>
							            <td><a class="btn btn-danger" class="cursor" ng-click="BorrarProducto($index)">Eliminar</a></td>
						          	</tr>
						        </tbody>
						      </table>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m4 l4">
								<select ng-model="proceso._id" material-select watch>
	      							<option ng-repeat="proceso in Procesos" value="{{proceso._id}},{{proceso.nombre}},{{proceso.tipo}}">{{proceso.nombre}}</option>
								</select>
								<label>Procesos *</label>
							</div>
							<button type="button" class="btn btn-success col s4 m2 l2" ng-disabled="!proceso._id" ng-click="AgregarProceso()">Añadir</button>
						</div>
						<div class="row">
							<div class="input-field col s12 m12 l12">
							<table class="highlight" ng-hide="fabricacion.procesos.length<1">
						        <thead>
						        	<tr>
										<th data-field="proceso">Proceso</th>
										<th data-field="responsables">Responsable(s)</th>
										<th data-field="opcion">Opciones</th>
						          	</tr>
						        </thead>
						        <tbody>
						          	<tr ng-repeat="proceso in fabricacion.procesos">
							            <td>{{proceso.nombre}}</td>
						            	<td><li ng-repeat="res in proceso.array_responsables">{{res.nombre}}</li></td>
							            <td><a class="btn btn-success" class="cursor" ng-click="AbrirModal(proceso)">Añadir responsables</a><a class="btn btn-danger" class="cursor" ng-click="BorrarProceso($index)">Eliminar</a></td>
						          	</tr>
						        </tbody>
						      </table>
							</div>
						</div>
						<div class="row" >
							<div class="col">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formfabricacion.$invalid || fabricacion.productos.length<1 || fabricacion.procesos.length<1">{{button_title_form}}</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-large btn-danger" ng-hide="button_title_form='Registrar fabricación'">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de fabricaciones</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col s12">
							<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modaldeDetalles" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">Orden de fabricación</h4>
    	<div class="row">
    		<ul>
				<li> Numero interno de la fabricación: {{Detalle.consecutivo || 'No registra'}}</li>
				<li ng-show="Detalle.orden_venta"> Cliente: {{Detalle.orden_venta.cliente.nombre || 'No registra'}}</li>
				<li> Fecha de solicitud: {{Detalle.fecha_solicitud || 'No registra'}}</li>
				<li> Fecha de entrega: {{Detalle.fecha_entrega || 'No registra'}}</li>
				<li> Observaciones de la fabricación: {{Detalle.observaciones || 'No registra'}}</li>
				<li ng-hide="Detalle.productos.length<1"> <h5>Productos:</h5></li>
				<table class="highlight" ng-hide="Detalle.productos.length<1">
					<thead>
						<tr>
							<th data-field="id">Nombre</th>
							<th data-field="name">Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="producto in Detalle.orden_venta.productos">
							<td>{{producto.nombre}}</td>
							<td>{{producto.cantidad_saliente}}</td>
						</tr>
					</tbody>
				</table>
				<li> Estado: {{Detalle.estado || 'No registra'}}</li>
			</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<div id="modalNotificacion" class="modal modal-fixed-footer">
    <div class="modal-content">
    <h4 class="modal-title">{{Detallemodal.titulo}}</h4>
    	<div class="row">
    		<h5>{{Detallemodal.mensaje}}</h5>
    	</div>
	</div>
    <div class="modal-footer">
      	<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<div id="modalConfirmacion" class="modal modal-fixed-footer">
    <div class="modal-content">
    <h4 class="modal-title">{{Detallemodal.titulo}}</h4>
    	<div class="row">
    		<h5>{{Detallemodal.mensaje}}</h5>
    	</div>
	</div>
    <div class="modal-footer">
      	<button type="submit" ng-click="Borrar(Detallemodal.id)" class="modal-action waves-effect waves-green btn-flat">Confirmar</button>
	    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>
<div id="modalResponsables" class="modal modal-fixed-footer">
    <div class="modal-content">
    <h4 class="modal-title">Añadir Responsables</h4>
    	<div class="row">
    		<form novalidate ng-submit="addresponsable()">
    			<div class="row">
					<div class="input-field col s12 m4 l4">
						<select ng-model="from_modal.persona" material-select watch>
							<option ng-repeat="persona in personas" ng-if="(modal.proceso.tipo=='Externo' && persona.proveedor) || (modal.proceso.tipo=='Interno' && persona.empleado)" value="{{persona}}">{{persona.nombre}}</option>
						</select>
						<label>Responsable *</label>
					</div>
					<button type="submit" class="btn btn-success col s4 m2 l2" ng-disabled="!from_modal.persona">Añadir</button>
				</div>
    		</form>
    		<table>
    			<tr>
    				<td>Nombre</td>
    				<td>Opción</td>
    			</tr>
    			<tr ng-repeat="res in modal.proceso.array_responsables">
    				<td>{{res.nombre}} {{res.apellidos}}</td>
    				<td><button ng-click="removeresponsable($index)">Eliminar</button></td>
    			</tr>
    		</table>
    	</div>
	</div>
    <div class="modal-footer">
	    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<div id="modalSalidas" class="modal modal-fixed-footer">
    <div class="modal-content">
	    <h4 class="modal-title">Generar remisión de salida</h4>
	    <div class="row">
	    <h5>Productos disponibles</h5>
	    	<table>
	    			<tr>
	    				<td>Producto</td>
	    				<td>Cantidad afuera</td>
	    				<td>Cantidad disponible</td>
	    			</tr>
	    			<tr ng-repeat="producto in modal_salida.fabricacion.productos">
	    				<td>{{producto.nombre}}</td>
	    				<td>{{producto.cantidad_saliente}}</td>
	    				<td>{{producto.cantidad_disponible}}</td>
	    			</tr>
	    		</table>
	    </div>
    	<div class="row">
    		<form novalidate ng-submit="addproducto()">
    			<div class="row">
					<div class="input-field col s12 m6 l6">
						<select ng-model="modal_salida.producto" material-select watch>
							<option ng-repeat="producto in modal_salida.fabricacion.productos" value="{{producto}}">{{producto.nombre}}</option>
						</select>
						<label>Producto *</label>
					</div>
					<div class="input-field col s8 m4 l4">
						<input type="number" ng-model="modal_salida.cantidad" id="Cantidad" name="Cantidad">
						<label for="Cantidad">Cantidad *</label>
					</div>
					<button type="button" class="btn btn-success col s4 m2 l2" ng-disabled="!modal_salida.producto || !modal_salida.cantidad">Añadir</button>
				</div>
				<table>
	    			<tr>
	    				<td>Nombre</td>
	    				<td>Cantidad</td>
	    				<td>Opción</td>
	    			</tr>
	    			<tr ng-repeat="producto in modal_salida.productos">
	    				<td>{{producto.nombre}}</td>
		    			<td>{{producto.cantidad}}</td>
	    				<td><button ng-click="removerproducto({{producto}})">Eliminar</button></td>
	    			</tr>
	    		</table>
	    		<div class="row">
	    			<div class="input-field col s12 m6 l6">
						<select ng-model="modal_salida.proceso" material-select watch>
							<option ng-repeat="proceso in modal_salida.fabricacion.procesos" value="{{proceso}}">{{proceso.nombre}}</option>
						</select>
						<label>Proceso *</label>
					</div>
					<div class="input-field col s12 m6 l6">
						<li ng-repeat="res in modal_salida.proceso.array_responsables">{{res.nombre}}</li>
					</div>
	    		</div>
	    		<div class="row">
	    			<button type="button" class="btn btn-success col s4 m2 l2" ng-disabled="!modal_salida.producto || !modal_salida.cantidad">Registrar remisión</button>
	    		</div>
    		</form>
    	</div>
	</div>
    <div class="modal-footer">
	    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
	$('.datepicker').pickadate({
		labelMonthNext: 'Next month',
		labelMonthPrev: 'Previous month',
		labelMonthSelect: 'Select a month',
		labelYearSelect: 'Select a year',
		monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
		monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
		weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado' ],
		weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],
		weekdaysLetter: [ 'D', 'L', 'M', 'Mi', 'J', 'V', 'S' ],
		today: 'Hoy',
		clear: 'Limpiar',
		close: 'Cerrar'
	});
</script>