<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de Materia Prima</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
					<button type="submit" ng-click="AbrirModalUnidades()" class="btn btn-large green accent-4">Unidades de medida</button>
				</div>
				<div class="panel-body" >
					<form name="formMateriaPrima" novalidate ng-submit="EnviarMateria()">
						<div class="row">
							<div class="input-field col s12 m6 l6">								
								<input type="text" ng-model="Materia.nombre" id="Nombre" name="Nombre" required>
								<label for="Nombre">Nombre *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<select ng-model="Persona.unidad_medida._id" material-select watch>
	      							<option ng-repeat="unidad in Unidades" value="{{unidad._id}}">{{unidad.nombre}}</option>
								</select>
								<label>Unidad de medida *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">								
								<input type="text" ng-model="Materia.marca" id="marca" name="marca" required>
								<label for="marca">Marca *</label>
							</div>
							<div class="input-field col s12 m6 l6">								
								<input type="number" ng-model="Materia.min_stock" id="Telefono" name="Telefono" required>
								<label for="Telefono">Min stock *</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l4">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formMateriaPrima.$invalid">{{button_title_form}}</button>
							</div>
							<div class="col s12 m6 l4">
							<button type="button" class="btn btn-large red accent-4" ng-show="button_title_form == 'Editar Materia Prima'" ng-click="CancelarEditar()">Cancelar</button>
							</div>
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Materia Prima</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">{{Detalle.nombre}}</h4>
    	<div class="row">
    		<ul>
			<li> Nombre: {{Detalle.nombre || 'No registra'}}</li>
			<li> Min. Stock: {{Detalle.min_stock || 'No registra'}}</li>
			<li> Marca: {{Detalle.marca || 'No registra'}}</li>
			<li> Cantidad: {{Detalle.cantidad}}</li>
		</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>
<div id="modal2" class="modal">
    <form class="col s12" name="formUnidades">
	    <div class="modal-content">
	      	<h4 class="modal-title">{{panel_title_form_unidades}}</h4>
			<div class="row">
			  <div class="row modal-form-row">
			    <div class="input-field col s12">
			      	<label for="nombre">Nombre</label>
					<input type="text" ng-model="Unidad_de_medida.nombre" name="nombre" id="nombre"  required>
			    </div>
			  </div>
			</div>
	    	<button type="submit" ng-click="EnviarUnidad()" class="modal-action waves-effect waves-green btn-flat" ng-disabled="formUnidades.$invalid">{{button_title_form_unidades}}</button>
	    	<button type="button" ng-click="CancelarEditarModal()" class="modal-action waves-effect waves-green btn-flat" ng-show="button_title_form_unidades=='Editar Unidad de Medida'">Cancelar</button>
			<div class="row">
				<div class="gridStyle grid" ui-grid="gridOptionsModal" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
			</div>
	    </div>
	    <div class="modal-footer">
	      	<a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar modal</a>
	    </div>
    </form>
  </div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('select').material_select();
		$('.modal').modal();
    	$('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: 0, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '10%', // Starting top style attribute
                endingTop: '15%', // Ending top style attribute
                ready: function(modal, trigger) {
                },
                complete: function() {  } // Callback for Modal close
            }
        );
  	});
</script>