<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de ventas</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formMateriaPrima" novalidate ng-submit="EnviarMateria()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Orden.cliente._id" material-select watch required>
	      							<option ng-repeat="cliente in clientes" value="{{cliente._id}}">{{cliente.nombre}}</option>
								</select>
								<label>Cliente*</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="orden-cliente">Numero de orden cliente *</label>
								<input type="text" name="orden-cliente" id="orden-cliente" ng-model="Orden.numero_orden" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="fecha_recepcion">Fecha de recepción *</label>
								<input type="date" ng-model="Orden.fecha_recepcion" class="datepicker" >
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="lugar_entrega">Lugar entrega *</label>
								<input type="text" name="lugar_entrega" ng-model="Orden.lugar_entrega" id="lugar_entrega" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
					            <textarea id="observaciones" class="materialize-textarea" ng-model="Orden.observaciones" data-length="120"></textarea>
					            <label for="observaciones">Observaciones</label>
				          </div>
				          <div class="input-field col s12 m6 l6">
								<label for="fecha_recepcion">Fecha de entrega *</label>
								<input type="date" class="datepicker" ng-model="Orden.fecha_entrega">
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Orden.Producto._id" material-select watch>
	      							<option ng-repeat="producto in productos" value="{{producto._id}},{{producto.nombre}}">{{producto.nombre}}</option>
								</select>
								<label>Productos *</label>
							</div>
							<div class="col s12 m6 l6">
								<div class="input-field col s8 m8 l8">
									<input type="number" ng-model="Orden.Producto.cantidad" id="Cantidad" name="Cantidad">
									<label for="Cantidad">Cantidad *</label>
								</div>
								<button type="button" class="btn btn-success col s4 m4 l4" ng-disabled="!(Orden.Producto._id) || !(Orden.Producto.cantidad)" ng-click="AgregarProducto()">Añadir</button>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
							<table class="highlight" ng-hide="Orden.productos.length<1">
						        <thead>
						        	<tr>
										<th data-field="id">Insumo</th>
										<th data-field="name">Cantidad</th>
										<th data-field="price">Opción</th>
						          	</tr>
						        </thead>
						        <tbody>
						          	<tr ng-repeat="producto in Orden.productos">
							            <td>{{producto.nombre}}</td>
							            <td>{{producto.cantidad}}</td>
							            <td><a class="btn btn-danger" class="cursor" ng-click="BorrarProducto($index)">Eliminar</a></td>
						          	</tr>
						        </tbody>
						      </table>
							</div>
						</div>	
						<div class="row">
							<div class="col s12 m6 l4">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formMateriaPrima.$invalid || Orden.productos.length<1">{{button_title_form}}</button>
							</div>
						</div>						
						<button type="button" class="btn btn-danger" ng-show="panel_title_form == 'Editar Materia'" ng-click="CancelarEditar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de compras</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	
	$('.datepicker').pickadate({
  labelMonthNext: 'Next month',
  labelMonthPrev: 'Previous month',
  labelMonthSelect: 'Select a month',
  labelYearSelect: 'Select a year',
  monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
  monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
  weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado' ],
  weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],
  weekdaysLetter: [ 'D', 'L', 'M', 'Mi', 'J', 'V', 'S' ],
  today: 'Hoy',
  clear: 'Limpiar',
  close: 'Cerrar'
});
	$('textarea#observaciones').characterCounter();
</script>