<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de compras</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formOrdenCompra" novalidate ng-submit="EnviarOrden()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="text" ng-model="Orden.consecutivo" id="numero" ng-disabled="true" name="numero">
								<label>Numero interno de compra*</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<select ng-model="Orden.proveedor._id" material-select watch required>
	      							<option ng-repeat="proveedor in proveedores" value="{{proveedor._id}}">{{proveedor.nombre}}</option>
								</select>
								<label>Proveedor*</label>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Orden.Materia._id" material-select watch>
	      							<option ng-repeat="materia in materias" value="{{materia._id}},{{materia.nombre}}">{{materia.nombre}}</option>
								</select>
								<label>Materias primas *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<select ng-model="Orden.Producto._id" material-select watch>
	      							<option ng-repeat="producto in productos" value="{{producto._id}},{{producto.nombre}}">{{producto.nombre}}</option>
								</select>
								<label>Productos *</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l6">
								<div class="input-field col s8 m8 l8">
									<input type="number" ng-model="Orden.Materia.cantidad" id="Cantidad-materia" name="Cantidad-materia">
									<label for="Cantidad-materia">Cantidad *</label>
								</div>
								<button type="button" class="btn btn-success col s4 m4 l4" ng-disabled="!(Orden.Materia._id) || !(Orden.Materia.cantidad)" ng-click="AgregarMateria()">Añadir</button>
							</div>
							<div class="col s12 m6 l6">
								<div class="input-field col s8 m8 l8">
									<input type="number" ng-model="Orden.Producto.cantidad" id="Cantidad-producto" name="Cantidad-producto">
									<label for="Cantidad-producto">Cantidad *</label>
								</div>
								<button type="button" class="btn btn-success col s4 m4 l4" ng-disabled="!(Orden.Producto._id) || !(Orden.Producto.cantidad)" ng-click="AgregarProducto()">Añadir</button>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<table class="bordered striped" ng-hide="Orden.materia_prima.length<1">
							        <thead>
							        	<tr>
											<th data-field="insumo">Insumo</th>
										<th data-field="cantidad">Cantidad</th>
										<th data-field="opcion">Opción</th>
							          	</tr>
							        </thead>
							        <tbody>
							          	<tr ng-repeat="insumo in Orden.materia_prima">
								            <td>{{insumo.nombre}}</td>
								            <td>{{insumo.cantidad}}</td>
								            <td><a class="btn btn-danger" class="cursor" ng-click="BorrarMateria($index)">Eliminar</a></td>
							          	</tr>
							        </tbody>
						      	</table>
							</div>
							<div class="input-field col s12 m6 l6">
								<table class="bordered striped" ng-hide="Orden.productos.length<1">
							        <thead>
							        	<tr>
											<th data-field="id">Producto</th>
											<th data-field="name">Cantidad</th>
											<th data-field="price">Opción</th>
							          	</tr>
							        </thead>
							        <tbody>
							          	<tr ng-repeat="insumo in Orden.productos">
								            <td>{{insumo.nombre}}</td>
								            <td>{{insumo.cantidad}}</td>
								            <td><a class="btn btn-danger" class="cursor" ng-click="BorrarProducto($index)">Eliminar</a></td>
							          	</tr>
							        </tbody>
						      	</table>
							</div>
							<div class="row">
							<div class="input-field col s12 m12 l12">
					            <textarea id="observaciones" class="materialize-textarea" ng-model="Orden.observaciones" data-length="120"></textarea>
					            <label for="observaciones">Observaciones</label>
				        	</div>
						</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formOrdenCompra.$invalid || (Orden.productos.length<1 && Orden.materia_prima.length<1)">{{button_title_form}}</button>
								<button type="button" class="btn btn-large btn-danger" ng-show="panel_title_form == 'Edicion de Compra'" ng-click="CancelarEditar()">Cancelar</button>
							</div>
							
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de compras</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalDetalles" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">Compra No. {{Detalle.consecutivo}}</h4>
    	<div class="row">
    		<ul>
			<li> Numero interno: {{Detalle.consecutivo || 'No registra'}}</li>
			<li> Proveedor: {{Detalle.proveedor.nombre || 'No registra'}}</li>
			<li> Fecha: {{convertirFecha(Detalle.fecha) || 'No registra'}}</li>
			<li> Observaciones: {{Detalle.observaciones || 'No registra'}}</li>
			<li ng-hide="Detalle.materia_prima.length<1"> <h5>Materias Primas:</h5></li>
			<table class="highlight" ng-hide="Detalle.materia_prima.length<1">
		        <thead>
		        	<tr>
						<th data-field="id">Nombre</th>
						<th data-field="name">Cantidad</th>
		          	</tr>
		        </thead>
		        <tbody>
		          	<tr ng-repeat="materia in Detalle.materia_prima">
			            <td>{{materia.nombre}}</td>
			            <td>{{materia.cantidad}}</td>
		          	</tr>
		        </tbody>
		    </table>
			<li ng-hide="Detalle.productos.length<1"><h5>Productos:</h5></li>
			<table class="highlight" ng-hide="Detalle.productos.length<1">
		        <thead>
		        	<tr>
						<th data-field="id">Nombre</th>
						<th data-field="name">Cantidad</th>
		          	</tr>
		        </thead>
		        <tbody>
		          	<tr ng-repeat="producto in Detalle.productos">
			            <td>{{producto.nombre}}</td>
			            <td>{{producto.cantidad}}</td>
		          	</tr>
		        </tbody>
		    </table>
		</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>