<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestión de clientes y proveedores</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formPersonas" novalidate ng-submit="EnviarPersona()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="id">Documento o NIT *</label>
								<input type="text" ng-model="Persona.documento" name="id" id="id"  required ng-disabled="panel_title_form == 'Editar Persona'">
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Nombre">Nombres *</label>
								<input type="text" ng-model="Persona.nombre" id="Nombre" name="Nombre" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Apellidos">Apellidos *</label>
								<input type="text" ng-model="Persona.apellidos" id="Apellidos" name="Apellidos" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Direccion">Direccion *</label>
								<input type="text" ng-model="Persona.direccion" id="Direccion" name="Direccion" required>
							</div>
							
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Telefono">Telefono *</label>
								<input type="number" ng-model="Persona.telefono" id="Telefono" name="Telefono" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Correo">Correo *</label>
								<input type="email" ng-model="Persona.correo" id="Correo" name="Correo" required class="validate">
							</div>
							
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Fax">Fax</label>
								<input type="number" ng-model="Persona.fax" id="Fax" name="Fax">
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Contacto">Contacto</label>
								<input type="text" ng-model="Persona.contacto" id="Contacto" name="Contacto" >
							</div>
							
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Persona.departamento" material-select watch>
	      							<option ng-repeat="departamento in Departamentos" value="{{departamento._id}}">{{departamento.nombre}}</option>
								</select>
								<label>Departamento*</label>
							</div>
							<div class="input-field col s12 m6 l6" >
								<select ng-model="Persona.ciudad" required material-select watch>
									<option ng-repeat="ciudad in Ciudades" ng-if="ciudad.departamento._id == Persona.departamento" value="{{ciudad.id}}">{{ciudad.nombre}}</option>
								</select>
								<label>Ciudad*</label>
							</div>
							
						</div>
						<div class="row">
							<p class="col s6 m2 l2">
								<input type="checkbox" ng-model="Persona.cliente" id="cliente"/>
	      						<label for="cliente">Cliente</label>
							</p>
							<p class="col s6 m2 l2">
								<input type="checkbox" ng-model="Persona.proveedor" id="Proveedor" />
	      						<label for="Proveedor">Proveedor</label>
							</p>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formPersonas.$invalid || (!Persona.cliente && !Persona.proveedor)">{{button_title_form}}</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-large btn-danger" ng-show="button_title_form == 'Editar Persona'" ng-click="CancelarEditar()">Cancelar</button>
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Personas</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col s12">
							<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">{{Detalle.documento}}</h4>
    	<div class="row">
    		<ul>
			<li> Documento: {{Detalle.documento || 'No registra'}}</li>
			<li> Nombre: {{Detalle.nombre || 'No registra'}}</li>
			<li> Direccion: {{Detalle.direccion || 'No registra'}}</li>
			<li> Telefono: {{Detalle.telefono || 'No registra'}}</li>
			<li> Correo: {{Detalle.correo || 'No registra'}}</li>
			<li> Fax: {{Detalle.fax || 'No registra'}}</li>
			<li> Ciudad: {{Detalle.ciudad || 'No registra'}}</li>
			<li> Contacto: {{Detalle.contacto || 'No registra'}}</li>
			<li> Rol(es): {{Detalle.rol || 'No registra'}}</li>
		</ul>
    	</div>
		
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('select').material_select();
    	$('.modal').modal();
    	$('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: 0, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '10%', // Starting top style attribute
                endingTop: '15%', // Ending top style attribute
                ready: function(modal, trigger) {
                },
                complete: function() {  } // Callback for Modal close
            }
        );
  	});
</script>