<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de productos</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
					<button type="submit" ng-click="AbrirModalCategorias()" class="btn btn-large green accent-4">Categorias</button>
				</div>
				<div class="panel-body" >
					<form name="formProductos" novalidate ng-submit="EnviarProducto()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="text" ng-model="Producto.id" name="NIT" id="NIT"  required ng-disabled="panel_title_form == 'Editar Producto'">
								<label for="NIT">NIT *</label>
							</div>
							<div class="input-field col s12 m6 l6">								
								<input type="text" ng-model="Producto.nombre" id="Nombre" name="Nombre" required>
								<label for="Nombre">Nombre *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="text" ng-model="Producto.direccion" id="Direccion" name="Direccion" required>
								<label for="Direccion">Direccion *</label>
							</div>
							<div class="input-field col s12 m6 l6">								
								<input type="number" ng-model="Producto.telefono" id="Telefono" name="Telefono" required>
								<label for="Telefono">Telefono *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input type="number" ng-model="Producto.limite_candados" id="Candados" name="Candados" required><label for="Candados">Candados *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input type="number" ng-model="Producto.limite_llaves" id="Llaves" name="Llaves" required>
								<label for="Llaves">Llaves *</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l4">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formProductos.$invalid">{{button_title_form}}</button>
							</div>
						</div>						
						<button type="button" class="btn btn-danger" ng-show="panel_title_form == 'Editar Producto'" ng-click="CancelarEditar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Productos</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal2" class="modal">
    <form class="col s12" name="formCategorias">
	    <div class="modal-content">
	      	<h4 class="modal-title">Registro de Categorias</h4>
			<div class="row">
			  <div class="row modal-form-row">
			    <div class="input-field col s12">
			      	<label for="nombre">Nombre</label>
					<input type="text" ng-model="categoria.nombre" name="nombre" id="nombre"  required>
			    </div>
			  </div>
			</div>
	    	<button type="submit" ng-click="EnviarCategoria()" class="modal-action waves-effect green btn-flat" ng-disabled="formCategorias.$invalid">Registrar Categoria</button>
			<div class="row">
				<div class="gridStyle grid" ui-grid="gridOptionsModal" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
			</div>
	    </div>
	    <div class="modal-footer">
	      	<a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar modal</a>
	    </div>
    </form>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('select').material_select();
		$('.modal').modal();
    	$('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: 0, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '10%', // Starting top style attribute
                endingTop: '15%', // Ending top style attribute
                ready: function(modal, trigger) {
                },
                complete: function() {  } // Callback for Modal close
            }
        );
  	});
</script>