<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de productos</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formProductos" novalidate ng-submit="EnviarProducto()">
						<div class="row">
							<div class="input-field col s12 m6 l6">								
								<input type="text" ng-model="Producto.nombre" id="Nombre" name="Nombre" required>
								<label for="Nombre">Nombre *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<select ng-model="Producto.unidad_medida._id" material-select watch>
	      							<option ng-repeat="unidad in Unidades" value="{{unidad._id}}">{{unidad.nombre}}</option>
								</select>
								<label>Unidad de medida *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">								
								<input type="text" ng-model="Producto.marca" id="marca" name="marca" required>
								<label for="marca">Marca *</label>
							</div>
							<div class="input-field col s12 m6 l6">								
								<input type="number" ng-model="Producto.min_stock" id="Telefono" name="Telefono" required>
								<label for="Telefono">Min stock *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Producto.categoria._id" material-select watch>
	      							<option ng-repeat="Categoria in Categorias" value="{{Categoria._id}}">{{Categoria.nombre}}</option>
								</select>
								<label>Categoria *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input type="number" ng-model="Producto.precio" id="Precio" name="Precio" required>
								<label for="Precio">Precio *</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-model="Producto.Insumo._id" material-select watch>
	      							<option ng-repeat="insumo in Insumos" value="{{insumo._id}},{{insumo.nombre}}">{{insumo.nombre}}</option>
								</select>
								<label>Insumos *</label>
							</div>
							<div class="col s12 m6 l6">
								<div class="input-field col s8 m8 l8">
									<input type="number" ng-model="Producto.Insumo.cantidad" id="Cantidad" name="Cantidad">
								<label for="Cantidad">Cantidad *</label>
								</div>
									<button type="button" class="btn btn-success col s4 m4 l4" ng-disabled="!(Producto.Insumo._id) || !(Producto.Insumo.cantidad)" ng-click="AgregarInsumo()">Añadir</button>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
							<table class="highlight" ng-hide="Producto.Insumos.length<1">
						        <thead>
						        	<tr>
										<th data-field="id">Insumo</th>
										<th data-field="name">Cantidad</th>
										<th data-field="price">Opción</th>
						          	</tr>
						        </thead>
						        <tbody>
						          	<tr ng-repeat="insumo in Producto.Insumos">
							            <td>{{insumo.nombre}}</td>
							            <td>{{insumo.cantidad}}</td>
							            <td><a class="btn btn-danger" class="cursor" ng-click="Borrar($index)">Eliminar</a></td>
						          	</tr>
						        </tbody>
						      </table>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6 l4">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formProductos.$invalid || Producto.Insumos.length<1">{{button_title_form}}</button>
							</div>
						</div>						
						<button type="button" class="btn btn-danger" ng-show="panel_title_form == 'Editar Producto'" ng-click="CancelarEditar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Productos</h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>