<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de salidas</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formSalida" ng-submit="EnviarSalida()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-change="CargarOrden()" id="orden" ng-model="Orden" material-select watch>
	      							<option ng-if="orden.estado!='Finalizado'" ng-repeat="orden in Ordenes" value="{{orden._id}}">{{orden.orden_venta_consecutivo}}-{{orden.cliente.nombre}} {{orden.cliente.apellidos}}</option>
								</select>
								<label for="orden">Orden de venta *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="consecutivo">Numero de orden interna *</label>
								<input type="text" ng-disabled="true" ng-model="Salida.orden_venta.orden_venta_consecutivo" id="consecutivo" name="consecutivo" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Cliente">Cliente *</label>
								<input type="text" ng-disabled="true" ng-model="Salida.orden_venta.cliente.nombre" id="Cliente" name="Cliente" required>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="Contenido">Contenido</label>
								<input type="text" ng-model="Salida.contenido" id="Contenido" name="Contenido">
							</div>
				        </div>
				        <div class="row">
							<div class="input-field col s12 m6 l6" ng-hide="Salida.orden_venta.productos.length<1">
								<table class="bordered striped">
							        <thead>
							        	<tr>
											<th data-field="producto">Producto</th>
											<th data-field="marca">Marca</th>
											<th data-field="cantidad">Cantidad</th>
											<th data-field="faltante">Cantidad faltante</th>
											<th data-field="entrante">Cantidad saliente</th>
							          	</tr>
							        </thead>
							        <tbody>
							          	<tr ng-if="producto.cantidad_faltante>0" ng-repeat="producto in Salida.orden_venta.productos">
								            <td>{{producto.nombre}}</td>
								            <td>{{producto.marca}}</td>
											<td>{{producto.cantidad}}</td>
								            <td>{{producto.cantidad_faltante}}</td>
								            <td><input type="number" value="0" id="cantidad{{producto._id}}" name="cantidad" placeholder="cantidad a enviar" required></td>
							          	</tr>
							        </tbody>
						      	</table>
							</div>
							<div class="input-field col s12 m6 l6">
					            <textarea id="observaciones" ng-model="Salida.observaciones" class="materialize-textarea" data-length="120"></textarea>
					            <label for="observaciones">Observaciones</label>
				          	</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formSalida.$invalid">{{button_title_form}}</button>
							</div>
							<div class="col">
								<button type="button" ng-click="cancelarEditar()" class="btn btn-large btn-danger">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Salidas</h3>
				</div>
				<div class="panel-body">
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modaldeDetalles" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">Orden de salida</h4>
    	<div class="row">
    		<ul>
				<li> Numero interno de la venta: {{Detalle.orden_venta.orden_venta_consecutivo || 'No registra'}}</li>
				<li> Cliente: {{Detalle.orden_venta.cliente.nombre}} {{Detalle.orden_venta.cliente.apellidos}}</li>
				<li> Generado por: {{Detalle.generado.nombre}} {{Detalle.generado.apellidos}}</li>
				<li> Contenido: {{Detalle.contenido || 'No registra'}}</li>
				<li> Observaciones de la salida: {{Detalle.observaciones || 'No registra'}}</li>
				<li ng-hide="Detalle.orden_venta.productos.length<1"> <h5>Productos:</h5></li>
				<table class="highlight" ng-hide="Detalle.orden_venta.productos.length<1">
					<thead>
						<tr>
							<th data-field="id">Nombre</th>
							<th data-field="marca">Marca</th>
							<th data-field="name">Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="producto.cantidad_saliente>0" ng-repeat="producto in Detalle.orden_venta.productos">
							<td>{{producto.nombre}}</td>
							<td>{{producto.marca}}</td>
							<td>{{producto.cantidad_saliente}}</td>
						</tr>
					</tbody>
				</table>
			</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>

<div id="superContainer" ng-show="false">
	<div id="container">
		<link rel="stylesheet" ng-href="{{server}}/formatos/styles/salidas.css">
		<div class="factura">
			<div class="header">
				<div class="first-part">
					<img src="{{server}}/logo-prines.jpg" class="logo-header">
					<h2 class="title-header">productos industriales para telecomunicaciones e iliminacion</h2>
					<h3 class="subtitle-header">producciones industriales esperanza s.a.s.</h3>
					<p class="nit">nit. 900.462.957-1 régimen común</p>
					<p class="description-head">
						calle 73 sur no. 80j - 52 bogota - colombia - PBX: 777 77 04 <br><br>
						pagina web: <span>www.prines.com.co</span>
					</p>
				</div>
				<div class="second-part">
					<ul>
						<li>Frabricación y distribución de herrajería para redes de CATV y HFC</li>
						<li>Implementacion y montaje de redes de comunicación, seguridad y televisión</li>
						<li>Asesorias y mantenimiento en mecánica hidráulica y neumática</li>
						<li>Asesorias, montajes y diseño de redes HFC</li>
						<li>Díseño y montajes de sistemas de iliminación</li>
					</ul>
				</div>
				<div class="last-part">
					<h2 class="title-last-part">Remisión</h2>
					<div class="no-factura">
						N° {{formato.salida_consecutivo}}
					</div>
				</div>
			</div>
			<div class="table-header">
				<table class="formato-table">
					<tr>
						<td colspan="5">Cliente: {{formato.orden_venta.cliente.nombre}}</td>
						<td colspan="5">Nit: {{formato.orden_venta.cliente.documento}}</td>
						<td>Fecha: {{convertirFecha(fecha)}}</td>
					</tr>
					<tr>
						<td colspan="10">Direccion: {{formato.orden_venta.lugar_entrega}}</td>
						<td>Tel: {{formato.orden_venta.cliente.telefono}}</td>
					</tr>
				</table>
			</div>
			<div class="table-body">
				<table class="formato-table">
					<tr class="black">
						<td class="width15">codigo</td>
						<td class="width70">descripcion</td>
						<td class="width15">cantidad</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0? formato.orden_venta.productos[0].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0?formato.orden_venta.productos[0].codigo: ''
						}} - {{
							formato.orden_venta.productos[0].cantidad_saliente > 0?formato.orden_venta.productos[0].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[0].cantidad_saliente > 0? formato.orden_venta.productos[0].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0? formato.orden_venta.productos[1].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0?formato.orden_venta.productos[1].codigo: ''
						}} - {{
							formato.orden_venta.productos[1].cantidad_saliente > 0?formato.orden_venta.productos[1].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[1].cantidad_saliente > 0? formato.orden_venta.productos[1].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0? formato.orden_venta.productos[2].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0?formato.orden_venta.productos[2].codigo: ''
						}} - {{
							formato.orden_venta.productos[2].cantidad_saliente > 0?formato.orden_venta.productos[2].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[2].cantidad_saliente > 0? formato.orden_venta.productos[2].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0? formato.orden_venta.productos[3].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0?formato.orden_venta.productos[3].codigo: ''
						}} - {{
							formato.orden_venta.productos[3].cantidad_saliente > 0?formato.orden_venta.productos[3].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[3].cantidad_saliente > 0? formato.orden_venta.productos[3].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0? formato.orden_venta.productos[4].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0?formato.orden_venta.productos[4].codigo: ''
						}} - {{
							formato.orden_venta.productos[4].cantidad_saliente > 0?formato.orden_venta.productos[4].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[4].cantidad_saliente > 0? formato.orden_venta.productos[4].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0? formato.orden_venta.productos[5].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0?formato.orden_venta.productos[5].codigo: ''
						}} - {{
							formato.orden_venta.productos[5].cantidad_saliente > 0?formato.orden_venta.productos[5].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[5].cantidad_saliente > 0? formato.orden_venta.productos[5].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0? formato.orden_venta.productos[6].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0?formato.orden_venta.productos[6].codigo: ''
						}} - {{
							formato.orden_venta.productos[6].cantidad_saliente > 0?formato.orden_venta.productos[6].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[6].cantidad_saliente > 0? formato.orden_venta.productos[6].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0? formato.orden_venta.productos[7].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0?formato.orden_venta.productos[7].codigo: ''
						}} - {{
							formato.orden_venta.productos[7].cantidad_saliente > 0?formato.orden_venta.productos[7].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[7].cantidad_saliente > 0? formato.orden_venta.productos[7].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0? formato.orden_venta.productos[8].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0?formato.orden_venta.productos[8].codigo: ''
						}} - {{
							formato.orden_venta.productos[8].cantidad_saliente > 0?formato.orden_venta.productos[8].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[8].cantidad_saliente > 0? formato.orden_venta.productos[8].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0? formato.orden_venta.productos[9].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0?formato.orden_venta.productos[9].codigo: ''
						}} - {{
							formato.orden_venta.productos[9].cantidad_saliente > 0?formato.orden_venta.productos[9].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[9].cantidad_saliente > 0? formato.orden_venta.productos[9].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0? formato.orden_venta.productos[10].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0?formato.orden_venta.productos[10].codigo: ''
						}} - {{
							formato.orden_venta.productos[10].cantidad_saliente > 0?formato.orden_venta.productos[10].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[10].cantidad_saliente > 0? formato.orden_venta.productos[10].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td colspan="3">{{formato.contenido}}</td>
					</tr>
				</table>
			</div>
			<div class="firmas">
				<p>asesor comercial</p>
				<p>firma del cliente</p>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="factura">
			<div class="header">
				<div class="first-part">
					<img src="{{server}}/logo-prines.jpg" class="logo-header">
					<h2 class="title-header">productos industriales para telecomunicaciones e iliminacion</h2>
					<h3 class="subtitle-header">producciones industriales esperanza s.a.s.</h3>
					<p class="nit">nit. 900.462.957-1 régimen común</p>
					<p class="description-head">
						calle 73 sur no. 80j - 52 bogota - colombia - PBX: 777 77 04 <br><br>
						pagina web: <span>www.prines.com.co</span>
					</p>
				</div>
				<div class="second-part">
					<ul>
						<li>Frabricación y distribución de herrajería para redes de CATV y HFC</li>
						<li>Implementacion y montaje de redes de comunicación, seguridad y televisión</li>
						<li>Asesorias y mantenimiento en mecánica hidráulica y neumática</li>
						<li>Asesorias, montajes y diseño de redes HFC</li>
						<li>Díseño y montajes de sistemas de iliminación</li>
					</ul>
				</div>
				<div class="last-part">
					<h2 class="title-last-part">Remisión</h2>
					<div class="no-factura">
						N° {{formato.salida_consecutivo}}
					</div>
				</div>
			</div>
			<div class="table-header">
				<table class="formato-table">
					<tr>
						<td colspan="5">Cliente: {{formato.orden_venta.cliente.nombre}}</td>
						<td colspan="5">Nit: {{formato.orden_venta.cliente.documento}}</td>
						<td>Fecha: {{convertirFecha(fecha)}}</td>
					</tr>
					<tr>
						<td colspan="10">Direccion: {{formato.orden_venta.lugar_entrega}}</td>
						<td>Tel: {{formato.orden_venta.cliente.telefono}}</td>
					</tr>
				</table>
			</div>
			<div class="table-body">
				<table class="formato-table">
					<tr class="black">
						<td class="width15">codigo</td>
						<td class="width70">descripcion</td>
						<td class="width15">cantidad</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0? formato.orden_venta.productos[0].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0?formato.orden_venta.productos[0].codigo: ''
						}} - {{
							formato.orden_venta.productos[0].cantidad_saliente > 0?formato.orden_venta.productos[0].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[0].cantidad_saliente > 0? formato.orden_venta.productos[0].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0? formato.orden_venta.productos[1].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0?formato.orden_venta.productos[1].codigo: ''
						}} - {{
							formato.orden_venta.productos[1].cantidad_saliente > 0?formato.orden_venta.productos[1].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[1].cantidad_saliente > 0? formato.orden_venta.productos[1].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0? formato.orden_venta.productos[2].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0?formato.orden_venta.productos[2].codigo: ''
						}} - {{
							formato.orden_venta.productos[2].cantidad_saliente > 0?formato.orden_venta.productos[2].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[2].cantidad_saliente > 0? formato.orden_venta.productos[2].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0? formato.orden_venta.productos[3].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0?formato.orden_venta.productos[3].codigo: ''
						}} - {{
							formato.orden_venta.productos[3].cantidad_saliente > 0?formato.orden_venta.productos[3].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[3].cantidad_saliente > 0? formato.orden_venta.productos[3].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0? formato.orden_venta.productos[4].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0?formato.orden_venta.productos[4].codigo: ''
						}} - {{
							formato.orden_venta.productos[4].cantidad_saliente > 0?formato.orden_venta.productos[4].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[4].cantidad_saliente > 0? formato.orden_venta.productos[4].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0? formato.orden_venta.productos[5].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0?formato.orden_venta.productos[5].codigo: ''
						}} - {{
							formato.orden_venta.productos[5].cantidad_saliente > 0?formato.orden_venta.productos[5].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[5].cantidad_saliente > 0? formato.orden_venta.productos[5].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0? formato.orden_venta.productos[6].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0?formato.orden_venta.productos[6].codigo: ''
						}} - {{
							formato.orden_venta.productos[6].cantidad_saliente > 0?formato.orden_venta.productos[6].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[6].cantidad_saliente > 0? formato.orden_venta.productos[6].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0? formato.orden_venta.productos[7].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0?formato.orden_venta.productos[7].codigo: ''
						}} - {{
							formato.orden_venta.productos[7].cantidad_saliente > 0?formato.orden_venta.productos[7].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[7].cantidad_saliente > 0? formato.orden_venta.productos[7].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0? formato.orden_venta.productos[8].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0?formato.orden_venta.productos[8].codigo: ''
						}} - {{
							formato.orden_venta.productos[8].cantidad_saliente > 0?formato.orden_venta.productos[8].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[8].cantidad_saliente > 0? formato.orden_venta.productos[8].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0? formato.orden_venta.productos[9].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0?formato.orden_venta.productos[9].codigo: ''
						}} - {{
							formato.orden_venta.productos[9].cantidad_saliente > 0?formato.orden_venta.productos[9].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[9].cantidad_saliente > 0? formato.orden_venta.productos[9].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td class="width15">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0? formato.orden_venta.productos[10].codigo : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0?formato.orden_venta.productos[10].codigo: ''
						}} - {{
							formato.orden_venta.productos[10].cantidad_saliente > 0?formato.orden_venta.productos[10].nombre : ''
						}}</td>
						<td class="width15">{{formato.orden_venta.productos[10].cantidad_saliente > 0? formato.orden_venta.productos[10].cantidad_saliente : ''}}</td>
					</tr>
					<tr>
						<td colspan="3">{{formato.contenido}}</td>
					</tr>
				</table>
			</div>
			<div class="firmas">
				<p>asesor comercial</p>
				<p>firma del cliente</p>
			</div>
		</div>
	</div>

	<div id="container2">
		<link rel="stylesheet" ng-href="{{server}}/formatos/styles/salidas.css">
		<div class="factura">
			<div class="header">
				<div class="first-part">
					<img src="{{server}}/logo-prines.jpg" class="logo-header">
					<h2 class="title-header">productos industriales para telecomunicaciones e iliminacion</h2>
					<h3 class="subtitle-header">producciones industriales esperanza s.a.s.</h3>
					<p class="nit">nit. 900.462.957-1 régimen común</p>
					<p class="description-head">
						calle 73 sur no. 80j - 52 bogota - colombia - PBX: 777 77 04 <br><br>
						pagina web: <span>www.prines.com.co</span>
					</p>
				</div>
				<div class="second-part">
					<ul>
						<li>Frabricación y distribución de herrajería para redes de CATV y HFC</li>
						<li>Implementacion y montaje de redes de comunicación, seguridad y televisión</li>
						<li>Asesorias y mantenimiento en mecánica hidráulica y neumática</li>
						<li>Asesorias, montajes y diseño de redes HFC</li>
						<li>Díseño y montajes de sistemas de iliminación</li>
					</ul>
				</div>
				<div class="last-part">
					<h2 class="title-last-part">Orden salida de almacen</h2>
					<div class="no-factura">
						N° {{formato.salida_consecutivo}}
					</div>
				</div>
			</div>
			<br>
			<div class="table-header">
				<table class="formato-table">
					<tr>
						<td colspan="5">Cliente: {{formato.orden_venta.cliente.nombre}}</td>
						<td>Fecha: {{convertirFecha(fecha)}}</td>
					</tr>
				</table>
			</div>
			<div class="table-body">
				<table class="formato-table">
					<tr class="black">
						<td class="width15">cantidad</td>
						<td class="width70">descripcion</td>
						<td class="width15">Contenido</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].codigo : ''
						}} - {{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].nombre : ''
						}}</td>
						<td rowspan="11">{{formato.contenido}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].codigo : ''
						}} - {{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].codigo : ''
						}} - {{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].codigo : ''
						}} - {{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].codigo : ''
						}} - {{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].codigo : ''
						}} - {{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].codigo : ''
						}} - {{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].codigo : ''
						}} - {{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].codigo : ''
						}} - {{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].codigo : ''
						}} - {{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].codigo : ''
						}} - {{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].nombre : ''
						}}</td>
					</tr>
				</table>
				<table class="formato-table">
					<tr>
						<td class="width33">Entregado por: <br>{{formato.generado.nombre}} {{formato.generado.apellidos}}</td>
						<td class="width33">Revisado por: <br></td>
						<td class="width33">Visto Bueno: <br></td>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="factura">
			<div class="header">
				<div class="first-part">
					<img src="{{server}}/logo-prines.jpg" class="logo-header">
					<h2 class="title-header">productos industriales para telecomunicaciones e iliminacion</h2>
					<h3 class="subtitle-header">producciones industriales esperanza s.a.s.</h3>
					<p class="nit">nit. 900.462.957-1 régimen común</p>
					<p class="description-head">
						calle 73 sur no. 80j - 52 bogota - colombia - PBX: 777 77 04 <br><br>
						pagina web: <span>www.prines.com.co</span>
					</p>
				</div>
				<div class="second-part">
					<ul>
						<li>Frabricación y distribución de herrajería para redes de CATV y HFC</li>
						<li>Implementacion y montaje de redes de comunicación, seguridad y televisión</li>
						<li>Asesorias y mantenimiento en mecánica hidráulica y neumática</li>
						<li>Asesorias, montajes y diseño de redes HFC</li>
						<li>Díseño y montajes de sistemas de iliminación</li>
					</ul>
				</div>
				<div class="last-part">
					<h2 class="title-last-part">Orden salida de almacen</h2>
					<div class="no-factura">
						N° {{formato.salida_consecutivo}}
					</div>
				</div>
			</div>
			<br>
			<div class="table-header">
				<table class="formato-table">
					<tr>
						<td colspan="5">Cliente: {{formato.orden_venta.cliente.nombre}}</td>
						<td>Fecha: {{convertirFecha(fecha)}}</td>
					</tr>
				</table>
			</div>
			<div class="table-body">
				<table class="formato-table">
					<tr class="black">
						<td class="width15">cantidad</td>
						<td class="width70">descripcion</td>
						<td class="width15">Contenido</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].codigo : ''
						}} - {{
							formato.orden_venta.productos[0].cantidad_saliente > 0 ? formato.orden_venta.productos[0].nombre : ''
						}}</td>
						<td rowspan="11">{{formato.contenido}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].codigo : ''
						}} - {{
							formato.orden_venta.productos[1].cantidad_saliente > 0 ? formato.orden_venta.productos[1].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].codigo : ''
						}} - {{
							formato.orden_venta.productos[2].cantidad_saliente > 0 ? formato.orden_venta.productos[2].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].codigo : ''
						}} - {{
							formato.orden_venta.productos[3].cantidad_saliente > 0 ? formato.orden_venta.productos[3].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].codigo : ''
						}} - {{
							formato.orden_venta.productos[4].cantidad_saliente > 0 ? formato.orden_venta.productos[4].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].codigo : ''
						}} - {{
							formato.orden_venta.productos[5].cantidad_saliente > 0 ? formato.orden_venta.productos[5].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].codigo : ''
						}} - {{
							formato.orden_venta.productos[6].cantidad_saliente > 0 ? formato.orden_venta.productos[6].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].codigo : ''
						}} - {{
							formato.orden_venta.productos[7].cantidad_saliente > 0 ? formato.orden_venta.productos[7].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].codigo : ''
						}} - {{
							formato.orden_venta.productos[8].cantidad_saliente > 0 ? formato.orden_venta.productos[8].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].codigo : ''
						}} - {{
							formato.orden_venta.productos[9].cantidad_saliente > 0 ? formato.orden_venta.productos[9].nombre : ''
						}}</td>
					</tr>
					<tr >
						<td class="width15">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].cantidad_saliente : ''
						}}</td>
						<td class="width70">{{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].codigo : ''
						}} - {{
							formato.orden_venta.productos[10].cantidad_saliente > 0 ? formato.orden_venta.productos[10].nombre : ''
						}}</td>
					</tr>
				</table>
				<table class="formato-table">
					<tr>
						<td class="width33">Entregado por: <br>{{formato.generado.nombre}} {{formato.generado.apellidos}}</td>
						<td class="width33">Revisado por: <br></td>
						<td class="width33">Visto Bueno: <br></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
