<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Gestion de salidas</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">{{panel_title_form}}</h3>
				</div>
				<div class="panel-body" >
					<form name="formSalida" ng-submit="EnviarSalida()">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<select ng-change="CargarOrden()" id="orden" ng-model="Orden.venta" material-select watch>
	      							<option ng-repeat="orden in Ordenes" value="{{orden._id}}">{{orden.consecutivo}}-{{orden.cliente.nombre}}</option>
								</select>
								<label for="orden">Orden de venta *</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<label for="consecutivo">Numero de orden interna *</label>
								<input type="text" ng-disabled="true" ng-model="Salida.orden_venta.consecutivo" id="consecutivo" name="consecutivo" required>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Cliente">Cliente *</label>
								<input type="text" ng-disabled="true" ng-model="Salida.orden_venta.cliente.nombre" id="Cliente" name="Cliente" required>
							</div>
							<div class="input-field col s12 m6 l6" ng-hide="Salida.orden_venta.productos.length<1">
								<table class="highlight">
							        <thead>
							        	<tr>
											<th data-field="producto">Producto</th>
											<th data-field="cantidad">Cantidad</th>
											<th data-field="faltante">Cantidad faltante</th>
											<th data-field="entrante">Cantidad entrante</th>
							          	</tr>
							        </thead>
							        <tbody>
							          	<tr ng-repeat="producto in Salida.orden_venta.productos">
								            <td>{{producto.nombre}}</td>
											<td>{{producto.cantidad}}</td>
								            <td>{{producto.cantidad_faltante}}</td>
								            <td><input type="text"  value="{{producto.cantidad_faltante}}" id="cantidad{{producto._id}}" name="cantidad"></td>
							          	</tr>
							        </tbody>
						      	</table>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<label for="Cliente">Numero de remisión *</label>
								<input type="text"  ng-model="Salida.remision" id="Cliente" name="Cliente" required>
							</div>
							<div class="input-field col s12 m6 l6">
					            <textarea id="observaciones" ng-model="Salida.observaciones" class="materialize-textarea" data-length="120"></textarea>
					            <label for="observaciones">Observaciones</label>
				          	</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-large blue accent-4" ng-disabled="formSalida.$invalid">{{button_title_form}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Lista de Salidas</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col s12">
							<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modaldeDetalles" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<h4 class="modal-title blue accent-4">Orden de salida</h4>
    	<div class="row">
    		<ul>
				<li> Numero interno de la venta: {{Detalle.orden_venta.numero_interno || 'No registra'}}</li>
				<li> Cliente: {{Detalle.cliente.nombre || 'No registra'}}</li>
				<li> Numero de remision: {{Detalle.remision || 'No registra'}}</li>
				<li> Observaciones de la salida: {{Detalle.observaciones || 'No registra'}}</li>
				<li ng-hide="Detalle.orden_venta.productos.length<1"> <h5>Productos:</h5></li>
				<table class="highlight" ng-hide="Detalle.orden_venta.productos.length<1">
					<thead>
						<tr>
							<th data-field="id">Nombre</th>
							<th data-field="name">Cantidad</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="producto in Detalle.orden_venta.productos">
							<td>{{producto.nombre}}</td>
							<td>{{producto.cantidad_saliente}}</td>
						</tr>
					</tbody>
				</table>
			</ul>
    	</div>
	</div>
    <div class="modal-footer">
      	<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>