<h2 class="titulo-pagina blue accent-4 right-align {{pageAnimate}}">Balance de Productos</h2>
<div class="contenido">
	<div class="row">
		<div class="col s12">
			<div class="card-panel panel-default {{panelAnimate}}">
				<div class="panel-heading blue accent-4">
					<h3 class="panel-title">Saldo de invetario {{fecha}} <span class="right-align">{{valance.total | currency : $ : 0}}</span></h3>
				</div>
				<div class="panel-body" >
					<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
				</div>
			</div>
		</div>
	</div>
</div>