<div class="sidenav  blue-grey darken-4 sidenav-hidden">
	<div class="scroll">
		<div class="row perfil perfil-hidden">
			<div class="col s12">
				<div class=" valign-wrapper">
					<div class="col s4 m4 l4">
						<img src="http://lorempixel.com/80/80" class="circle responsive-img" alt="Contact Person">
					</div>
				    <div class="col s8 m8 l8">
					    <a class='btn-flat col s12 dropdown-button waves-effect waves-light white-text profile-btn' data-activates='dropdown-perfil'>{{NombreDeUsuario}}<i class="material-icons right">arrow_drop_down</i></a>
						<p class="blue-text accent-4">Administrador</p>
						<ul id="dropdown-perfil" class="dropdown-content">
							<li><a ui-sref="Perfil"><i class="material-icons left">face</i>perfil</a></li>
							<li><a ng-click="cerrarSesion()"><i class="material-icons left">exit_to_app</i>cerrar seion</a></li>
						</ul>
				    </div>
				</div>
			</div>
		</div>
		<div class="side-nav">
			<ul>
				<li ng-class="{activate: $state.includes('Personas')}">
					<a ui-sref="Personas">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Clientes y proveedores">store_mall_directory</i>
					Clientes y proveedores
					</a>
				</li>
				<li ng-class="{activate: $state.includes('Productos')}">
					<a ui-sref="Productos">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Productos">shopping_cart</i>
					Productos
					</a>
				</li>
				<li ng-class="{activate: $state.includes('Empleados')}">
					<a ui-sref="Empleados">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Empleados">person_add</i>
					Empleados
					</a>
				</li>
				<li ng-class="{activate: $state.includes('MateriaPrima')}">
					<a ui-sref="MateriaPrima">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Materia prima">input</i>
					Materia prima
					</a>
				</li>
				<li ng-class="{activate: $state.includes('OrdenCompra')}">
					<a ui-sref="OrdenCompra">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Orden de compra">add_shopping_cart</i>
					Orden de compra
					</a>
				</li>
				<li ng-class="{activate: $state.includes('OrdenVenta')}">
					<a ui-sref="OrdenVenta">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Orden de venta">monetization_on</i>
					Orden de venta
					</a>
				</li>
				<li ng-class="{activate: $state.includes('Entrada')}">
					<a ui-sref="Entrada">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Entrada">archive</i>
					Entrada
					</a>
				</li>
				<li ng-class="{activate: $state.includes('Salida')}">
					<a ui-sref="Salida">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Salida">unarchive</i>
					salida
					</a>
				</li>
				<li ng-class="{activate: $state.includes('Fabricacion')}">
					<a ui-sref="Fabricacion">
						<i class="tooltipped material-icons" data-position="right" data-delay="50" data-tooltip="Fabricacion">unarchive</i>
					Fabricacion
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(".profile-btn").dropdown();
	$('.tooltipped').tooltip({delay: 50});
</script>