<div class="sidenav  blue-grey darken-4 sidenav-hidden">
	<div class="scroll">
		<div class="row perfil perfil-hidden">
			<div class="col s12">
				<div class=" valign-wrapper">
					<div class="col s4 m4 l4">
						<img src="http://lorempixel.com/80/80" class="circle responsive-img" alt="Contact Person">
					</div>
				    <div class="col s8 m8 l8">
					    <a class='btn-flat col s12 dropdown-button waves-effect waves-light white-text profile-btn' data-activates='dropdown-perfil'>{{Usuario.nombre}}<i class="material-icons right">arrow_drop_down</i></a>
						<p class="blue-text accent-4">Administrador</p><ul id="dropdown-perfil" class="dropdown-content">
	<li><a ui-sref="Perfil"><i class="material-icons left">face</i>perfil</a></li>
	<li><a ng-click="cerrarSesion()"><i class="material-icons left">exit_to_app</i>cerrar seion</a></li>
</ul>
				    </div>
				</div>
			</div>
		</div>
		<div class="side-nav">
			<ul>
				<li ng-class="{activate: $state.includes('Personas')}"><a ui-sref="Personas"><i class="material-icons">store_mall_directory</i>Clientes y proveedores</a></li>
				<li ng-class="{activate: $state.includes('Productos')}"><a ui-sref="Productos"><i class="material-icons">shopping_cart</i>Productos</a></li>
				<li ng-class="{activate: $state.includes('Empleados')}"><a ui-sref="Empleados"><i class="material-icons">person_add</i>Empleados</a></li>
				<li ng-class="{activate: $state.includes('MateriaPrima')}"><a ui-sref="MateriaPrima"><i class="material-icons">monetization_on</i>Materia prima</a></li>
				<li ng-class="{activate: $state.includes('OrdenCompra')}"><a ui-sref="OrdenCompra"><i class="material-icons">add_shopping_cart</i>Orden de compra</a></li>
				<li ng-class="{activate: $state.includes('OrdenVenta')}"><a ui-sref="OrdenVenta"><i class="material-icons">monetization_on</i>Orden de venta</a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(".profile-btn").dropdown();
</script>